<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  </head>
  <body>
    <div class="container p-5">
      <div class="row">
        <div class="col-md-4">
          {% if bike_list %}
          Pick a bike.
          <h5 class="mt-3">Bikes</h5>
          <ul>
          {% for bikes in bike_list%}
            <li > 
              <a href="{% url 'bike' bikes.id %}">{{ bikes.bike_model}}</a>
            </li>
          {% endfor %}
          </ul>

    

        {% else %}
        <p>No Bikes Available.  Be sure to add a bike!</p>
        {% endif %}
        <a href="/admin/dBase/bikes/add/">
          <button class="btn btn-primary">Add Bike</button>
        </a>
        <p>And press "View Site" to return to this page.</p>
      </div>
        

        {% if wheel_list %}

        <div class="col-md-8">
          Or start with wheels.
          <div class="container"></div>
            <div class="row">
                {% if wheelsets %}
                <div class="col-md-4">
                  <h5 class="mt-3">Wheelsets</h5>
                  <ul>
                    {% for wheels in wheelsets%}
                      <li>
                        <a href="wheels/{{wheels.id}}">{{ wheels.wheel_model}}</a>
                      </li>
                    {% endfor %}
                    </ul>
                </div>
              {% endif %}

              {% if front %}
                <div class="col-md-4">
                  <h5 class="mt-3">Front Wheels</h5>
                  <ul>
                    {% for wheel in front%}
                      <li>
                        <a href="front/{{wheel.id}}">{{ wheel.wheel_model}}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

              {% if back %}
                <div class="col-md-4">
                  <h5 class="mt-3">Rear Wheels</h5>
                  <ul>
                    {% for wheel in back%}
                      <li>
                        <a href="rear/{{wheel.id}}">{{ wheel.wheel_model}}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            </div>
            <a href="/admin/dBase/wheels/add/">
              <button class="btn btn-primary">Add Wheels</button>
            </a>
            
          </div>
        
      
          {% else %}
          <p>You don't have a complete set of wheels available!  Be sure to add a set before we start!</p>
          {% endif %}

        </div>  
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

  </body>
</html>